.bookmark-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.pb-3, .py-3 {
  padding-bottom: 0;
  padding-top: 0;
}
.bookmark-title h6 {
  text-transform: uppercase;
  flex: 1;
}
.bookmark-delete {
  background: transparent;
  border: 0;
}
.bookmark_delete_form {
  margin-right: 10px;
  display: inline-flex;
}
